@import url('https://fonts.googleapis.com/css?family=Open+Sans|Righteous|Roboto|Varela+Round');
* {
  padding: 0;
  margin: 0;
  color: #454545;
}
a {
  text-decoration: none;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  text-align: left;
  width: 100%;
  height: 3em;
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 2;
}
.header img {
  object-fit: contain;
  width: 20%;
  height: 100%;
  flex-grow: 0.1;
}
.header h3 {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: auto;
  font-size: 0.9em;
  flex-grow: 1;
  text-align: center;
}
.header a:hover {
  border-radius: 4px;
  background-color: #ddd;
  color: black;
}
.header a:active {
  background-color: dodgerblue;
}
.header a:active h3 {
  color: white;
}
html, body{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.bigtitle {
  height: 100%;
  width: 100%;
}
.bigtitle img {
  -webkit-filter: blur(3px);
  filter: blur(5x);
  width: 100%;
  height: 100%;
}
.bigtitle h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Varela Round', sans-serif;
  font-size: 4em;
  text-align: center;
  color: white;
}
.main {
  margin: 10% auto auto auto;
  width: 80%;
  display: grid;
  grid-template: 50% 50% / 1fr 2fr;
  overflow: hidden;
}
.main #contacts {
  grid-area: 1 / 1 / span 2 / span 1;
}
.main #contacts .social img {
  width: 3em;
}
.main #greets {
  grid-area: 1 / 2 / span 1 / span 1;
}
.main #comunications {
  grid-area: 2 / 2 / span 1 / span 1;
}